.third-btn{
    width: 15%;
    background-color: green;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: white;

}

.third-btn:hover{
    background-color: lightgreen;
    color: black;
    transition: 0.6s;
    border: 1px solid black;
    size: 20px;
}